apiVersion: apps/v1
kind: Deployment
metadata:
  name: mlflow
spec:
  replicas: 1
  selector:
    matchLabels:
      app: mlflow
  template:
    metadata:
      labels:
        app: mlflow
    spec:
      containers:
      - name: mlflow
        image: ghcr.io/mlflow/mlflow:v2.9.2
        imagePullPolicy: IfNotPresent
        command:
        - mlflow
        - server
        - --host
        - 0.0.0.0
        - --port
        - "5001"
        ports:
        - containerPort: 5001
---
apiVersion: v1
kind: Service
metadata:
  name: mlflow
spec:
  selector:
    app: mlflow
  ports:
  - protocol: TCP
    port: 5001
    targetPort: 5001
  type: ClusterIP
