name: Deploy to Google Cloud

on:
  push:
    branches:
      - main
      - sessionFix


jobs:
  deploy:
    runs-on: ubuntu-latest
    
    permissions:
      contents: read
      id-token: write
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      
      - name: Authenticate to Google Cloud
        uses: google-github-actions/auth@v2
        with:
          workload_identity_provider: 'projects/671506471835/locations/global/workloadIdentityPools/github-pool/providers/github-provider'
          service_account: 'audioseekgitconnect@ie7374-475102.iam.gserviceaccount.com'
      
      - name: Set up Cloud SDK
        uses: google-github-actions/setup-gcloud@v2
      
      - name: Deploy to Cloud Run
        run: |
          gcloud run deploy audioseek \
            --source . \
            --region us-central1 \
            --platform managed \
            --allow-unauthenticated \
            --project ie7374-475102 \
            --set-secrets=GEMINI_API_KEY=gemini-api-key:latest \
            --set-env-vars=PROJECT_ID=ie7374-475102,PROJECT_NUMBER=671506471835