name: Deploy to Google Cloud

on:
  push:
    branches:
      - main
      - sessionFix

jobs:
  deploy:
    runs-on: ubuntu-latest
    
    permissions:
      contents: read
      id-token: write
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      
      - name: Authenticate to Google Cloud
        uses: google-github-actions/auth@v2
        with:
          workload_identity_provider: 'projects/671506471835/locations/global/workloadIdentityPools/github-pool/providers/github-provider'
          service_account: 'audioseekgitconnect@ie7374-475102.iam.gserviceaccount.com'
      
      - name: Set up Cloud SDK
        uses: google-github-actions/setup-gcloud@v2
      
      - name: Configure Docker for Artifact Registry
        run: gcloud auth configure-docker us-east1-docker.pkg.dev
      
      - name: Build Docker image
        working-directory: ./frontend
        run: |
          docker build -t us-east1-docker.pkg.dev/ie7374-475102/cloud-run-source-deploy/audioseek:${{ github.sha }} .
          docker tag us-east1-docker.pkg.dev/ie7374-475102/cloud-run-source-deploy/audioseek:${{ github.sha }} us-east1-docker.pkg.dev/ie7374-475102/cloud-run-source-deploy/audioseek:latest
      
      - name: Push Docker image
        run: |
          docker push us-east1-docker.pkg.dev/ie7374-475102/cloud-run-source-deploy/audioseek:${{ github.sha }}
          docker push us-east1-docker.pkg.dev/ie7374-475102/cloud-run-source-deploy/audioseek:latest
      
      - name: Deploy to Cloud Run
        run: |
          gcloud run deploy audioseek \
            --image us-east1-docker.pkg.dev/ie7374-475102/cloud-run-source-deploy/audioseek:latest \
            --region us-east1 \
            --platform managed \
            --allow-unauthenticated \
            --project ie7374-475102 \
            --port 8080 \
            --service-account=audioseekgitconnect@ie7374-475102.iam.gserviceaccount.com \
            --set-secrets=GEMINI_API_KEY=gemini-api-key:latest \
            --set-env-vars=PROJECT_ID=ie7374-475102,PROJECT_NUMBER=671506471835