name: Run AudioSeek Tests

on:
  push:
    branches: ["main", "refactor-CI/CD"]
  pull_request:
    branches: ["main","refactor-CI/CD"]
  workflow_dispatch:

jobs:
  run-tests:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Set up Python 3.10
      uses: actions/setup-python@v5
      with:
        python-version: "3.10"

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r Data-Pipeline/requirements-airflow.txt

    - name: Run test suite
      working-directory: Data-Pipeline
      run: |
        pytest scripts/tests/test_transcription.py
        pytest scripts/tests/test_transcription_tasks.py
        pytest scripts/tests/test_summary.py
